# Default ignored files
/shelf/
/workspace.xml
/out/
# IntelliJ IDEA
.idea/
/out/
*.iml

# Compiled class files
*.class

# Compiled files
*.war
*.ear
*.jar

# Dependency directories
target/

# Maven specific files
log/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.branch

# Gradle specific files
.gradle/
build/

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db